div.title{
    width: 1000px;
    height: 100px;
    background-color: deepskyblue;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 10px 0px 0px 20px;
}

h1{
    font-size: 60px;
    font-weight: normal;
    background-color: 
}


span.menuitem{
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 40px;
    background-color: orchid;
    font-size: 30px;
    border: 5px dotted blue;
}

h3.redclor{
    color:red;
}

div.menu1{
    width: 250px;
    height: 100px;
    background-color: greenyellow;
    margin: 0px 50px 10px 0px;
}


body{
    background-image: url(../images/39156071-%E6%B0%B4%E3%81%AE%E8%83%8C%E6%99%AF.jpg)
}

h3{
    background-color: lightpink
}

