h1.whitecolor{
    color:aliceblue;
    background-color: brown
}

h1{
    text-align: center
}

h2{
    text-align: center
}

h2.greencolor{
    color:darkseagreen
}

h2.redcolor{
    color:red
}


body{
    background-image: url(../images/wood-texture_00089.jpg)
}